<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html;charset=utf-8"> 
   <title><%= @headers['title'] %></title>

<meta name="generator" content="<%= @headers['generator'] %>">
<meta name="author"    content="<%= @headers['author']%>" >

<!-- minimal style sheet links -->
<link rel="stylesheet" href="<%= "#{@name}.css" %>" media="projection" id="styleProjection">
<link rel="stylesheet" href="minimal/screen.css" media="screen" id="styleScreen">
<link rel="stylesheet" href="minimal/print.css" media="print">

<!-- minimal JS -->
<script src="minimal/jquery.js"></script>
<script src="minimal/jquery.slideshow.js"></script>
<script>
  $(document).ready( function() {
    Slideshow.init();
  } );

  <%= content_for :js %>
</script>

<!-- Better Browser Banner for Microsoft Internet Explorer (IE) -->
<!--[if IE]>
<script src="minimal/jquery.microsoft.js"></script>
<![endif]-->

<%= content_for :head %>

</head>
<body>

<div class="layout"> 
  <div id="header"></div>
  <div id="footer">
    <h1><%= @headers['footer'] %></h1>
    <h2><%= @headers['subfooter'] %></h2>
  </div>
</div>

<div class="presentation">
   
<%= @content %>

</div><!-- presentation -->
</body>
</html>
